.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--primary-gap);
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--secondary-gap);
}