.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: var(--primary-gap);

  span {
    display: flex;
    justify-content: center;
    color: var(--fg-secondary);
    font-size: 0.8rem;
    width: 4rem;
    user-select: none;
  }
}

.rail {
  background-color: var(--secondary);
  height: 0.3rem;
  border-radius: 1rem;
}

.handle {
  background-color: var(--fg);
  opacity: 0;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  width: 0.8rem; height: 0.8rem;
  cursor: default;
  transition: opacity 100ms;
}

.handle:active {
  cursor: default;
}

.track {
  background-color: var(--fg);
  height: 0.3rem;
  transition: background-color 100ms;
}

.input:hover .handle,
.input:active .handle {
  opacity: 1;
}

.input:hover .track,
.input:active .track {
  background-color: var(--primary);
}