.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: var(--primary-gap);

  span {
    display: flex;
    justify-content: center;
    color: var(--fg-secondary);
    font-size: 0.8rem;
    width: 4rem;
  }

  input[type=range] {
    width: 100%;
    background-color: transparent;
  }
  
  input[type=range]::-moz-range-progress {
    background-color: var(--fg);
    transition: 100ms;
    height: 0.3rem;
    border-radius: 1rem;
  }

  input[type=range]::-moz-range-track {
    background-color: var(--secondary);
    height: 0.3rem;
    border-radius: 1rem;
  }

  input[type=range]::-moz-range-thumb {
    width: 0.8rem; height: 0.8rem;
    border-radius: 1rem;
    border: none;
    opacity: 0;
    transition: 100ms;
  }

  input[type=range]:hover::-moz-range-thumb {
    opacity: 1;
  }

  input[type=range]:hover::-moz-range-progress {
    background-color: var(--primary);
  }
}