.main {
  display: flex;
  align-items: center;
  gap: var(--primary-gap);
}

.main > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: filter 250ms, transform 100ms;
}

.main > button:hover {
  filter: brightness(1.5);
}

.main > button:active {
  transform: scale(0.9);
}

.input {
  width: 6rem;
}

.rail {
  background-color: var(--secondary);
  height: 0.3rem;
  border-radius: 1rem;
}

.handle {
  background-color: var(--fg);
  opacity: 0;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  width: 0.8rem; height: 0.8rem;
  cursor: default;
  transition: opacity 100ms;
}

.handle:active {
  cursor: default;
}

.track {
  background-color: var(--fg);
  height: 0.3rem;
  transition: background-color 100ms;
}

.input:hover .handle,
.input:active .handle {
  opacity: 1;
}

.input:hover .track,
.input:active .track {
  background-color: var(--primary);
}