.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: var(--primary-padding);
  gap: var(--primary-gap);
  border-radius: var(--primary-radius);
  background-color: var(--bg-secondary);
}