.main {
  margin: calc(var(--primary-padding) * -1);
  background-color: var(--secondary);
  border-radius: var(--primary-radius);
  transition: background-color 500ms ease;
}

.main > h1 {
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: calc(var(--primary-padding) * 2);
  gap: var(--primary-gap);
  background: linear-gradient(0deg, var(--bg-secondary), rgba(0,0,0,0.5));
}

.folders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--secondary-gap);
}

.main[data-color=purple] {
  background-color: var(--purple);
}

.main[data-color=pink] {
  background-color: var(--pink);
}

.main[data-color=yellow] {
  background-color: var(--yellow);
}

.main[data-color=red] {
  background-color: var(--red);
}