:root {
  --fg: #ffffff;
  --fg-secondary: #dadada;
  --bg: #000000;
  --bg-secondary: #191414;

  --primary: #1db954;
  --secondary: #302C2C;
  --accent: #22ee6a;
  --icon: #a7a7a7;

  --purple: #9b22d4;
  --pink: #cc2cde;
  --red: #d42859;
  --yellow: #f5cc27;

  --primary-gap: 0.5rem;
  --primary-radius: 0.5rem;
  --primary-padding: 0.5rem;
  
  --secondary-gap: 1rem;
  --secondary-padding: 0.4rem;
  --secondary-radius: 0.2rem;

  --sidebar-width: 18rem;
  
  --body-padding: 0.5rem;
  
  --controller-height: 6rem;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100svw;
  min-height: 100svh;
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--primary-gap);
  padding: var(--body-padding);
  color: var(--fg);
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

.rootRow {
  display: flex;
  flex-grow: 1;
  gap: var(--primary-gap);
}