.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--primary-radius);
  padding: var(--primary-padding);
  height: var(--controller-height);
  background-color: var(--bg-secondary);
}