.main {
  display: flex;
  width: 400px;
  flex-grow: 1;
  align-items: center;
  border-radius: var(--secondary-radius);
  gap: var(--primary-gap);
  transition: background-color 250ms;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);
}

.main:hover {
  background-color: rgba(255,255,255,0.2);
}

.main > h1 {
  font-size: 1.2rem;
}

.main > img {
  border-radius: var(--secondary-radius);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--primary);
  width: 3rem;
  aspect-ratio: 1;
  padding: var(--primary-padding);
  border-radius: 10rem;
  cursor: pointer;
  transition: scale 100ms;
  margin-left: auto;
  margin-right: var(--primary-padding);
  visibility: hidden;
}

.button:hover {
  scale: 1.1;
}

.button:active {
  scale: 1;
}

.main:hover > .button {
  visibility: visible;
}