.main {
  display: flex;
  flex-direction: column;
  gap: var(--secondary-gap);
  padding: var(--primary-padding);
  border-radius: var(--primary-radius);
  background-color: var(--bg-secondary);
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  transform: filter 250ms;
}

.link[data-active],
.link:hover {
  filter: brightness(1.5);
}