.main {
  display: flex;
  flex-direction: column;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  gap: var(--main-gap);
  background-color: var(--bg-secondary);
  width: var(--sidebar-width);
}