.main {
  display: flex;
  flex-direction: column;
  border-radius: var(--primary-radius);
  padding: var(--primary-padding);
  gap: var(--primary-gap);
  background-color: var(--bg-secondary);
  width: var(--sidebar-width);
}