.main {
  display: flex;
  flex-grow: 1;
  gap: var(--primary-gap);
  background-color: var(--secondary);
  border-radius: var(--secondary-radius);
  transition: background-color 250ms, flex 250ms, gap 250ms;
}

.main > button,
.main > input {
  display: flex;
  align-items: center;
  background-color: unset;
  border: unset;
  outline: unset;
}

.main > button {
  justify-content: center;
  flex-shrink: 0;
  width: 2rem; height: 2rem;
  cursor: pointer;
  padding: var(--secondary-padding);
  border-radius: 50%;
  transition: background-color 250ms;
}

.main > button:hover {
  background-color: var(--secondary);
}

.main > input {
  max-width: 50svw;
  width: 100%;
  transition: max-width 250ms;
}

.main[data-show-search=false] {
  background-color: transparent;
  flex-grow: 0;
  gap: 0;
}

.main[data-show-search=false] > input {
  max-width: 0;
}

.main[data-minimized=true] {
  display: none;
}